@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

.header, .footer {
  position: relative; }
  .header-top, .footer-top {
    justify-content: space-between;
    align-items: center;
    padding: 9px 0 11px; }
    .header-top .logo-img, .footer-top .logo-img {
      background-image: url("media/logo.png");
      width: 68px;
      height: 61px;
      background-repeat: no-repeat;
      background-position: center center;
      padding-right: 16px; }
    .header-top .logo h1, .footer-top .logo h1 {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase; }
    .header-top .logo p, .footer-top .logo p {
      font-size: 13px;
      color: #3ea5ce; }
    .header-top .header-contact-phone, .footer-top .header-contact-phone {
      padding-right: 32px;
      text-align: right;
      position: relative; }
      .header-top .header-contact-phone:before, .footer-top .header-contact-phone:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 42px;
        height: 43px;
        background-image: url("media/phone-icon.png");
        top: 0;
        left: -56px; }
      .header-top .header-contact-phone a, .footer-top .header-contact-phone a {
        color: #272727;
        text-decoration: none;
        font-size: 24px; }
        .header-top .header-contact-phone a span, .footer-top .header-contact-phone a span {
          font-size: 17px;
          color: #0083b5; }
      .header-top .header-contact-phone p, .footer-top .header-contact-phone p {
        font-size: 13px;
        color: #272727;
        line-height: 23px; }
    .header-top .header-contact button, .footer-top .header-contact button {
      font-size: 17px;
      background-color: #f39c12;
      color: #fff;
      line-height: 23px;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
      text-transform: uppercase;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
      border: 2px solid rgba(0, 0, 0, 0.12);
      width: 187px;
      height: 42px;
      border-radius: 5px; }
      .header-top .header-contact button:hover, .footer-top .header-contact button:hover {
        cursor: pointer; }
      .header-top .header-contact button:active, .footer-top .header-contact button:active {
        box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.1);
        text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.15); }

.header-slider {
  position: relative;
  background-image: url("media/header-slide-bg.png");
  width: 100%;
  height: 619px;
  background-blend-mode: multiply;
  background-color: #0083b5; }
  .header-slider nav {
    position: absolute;
    top: 20px;
    background-color: #0083b5;
    width: 100%;
    padding: 14px 0;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    z-index: 4; }
    .header-slider nav a {
      color: #fff;
      font-size: 18px;
      line-height: 23px;
      text-decoration: none; }
      .header-slider nav a:hover {
        text-decoration: underline;
        color: #f39c12; }
  .header-slider ul#slides {
    padding: 0;
    position: relative;
    margin: 0;
    list-style-type: none; }
    .header-slider ul#slides .slide {
      position: absolute;
      left: 0;
      top: 118px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      color: #fff;
      margin-bottom: 52px;
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s; }
      .header-slider ul#slides .slide > h1 {
        font-size: 44px;
        font-weight: bold;
        text-align: center; }
      .header-slider ul#slides .slide > p {
        width: 597px;
        margin: 0 auto;
        padding: 20px 0 70px; }
        .header-slider ul#slides .slide > p a {
          font-size: 24px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          position: relative;
          display: block; }
          .header-slider ul#slides .slide > p a:before, .header-slider ul#slides .slide > p a:after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            top: 8px; }
          .header-slider ul#slides .slide > p a:before {
            left: -14px; }
          .header-slider ul#slides .slide > p a:after {
            right: -14px; }
      .header-slider ul#slides .slide .slide1 {
        width: 480px;
        height: 296px;
        border: 2px white solid;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .header-slider ul#slides .slide .slide1 .slide-logo {
          position: absolute;
          width: 76px;
          height: 76px;
          border-radius: 50%;
          background-color: white;
          left: 202px;
          top: -40px; }
          .header-slider ul#slides .slide .slide1 .slide-logo:after {
            display: block;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center; }
          .header-slider ul#slides .slide .slide1 .slide-logo-left:after {
            background-image: url("media/slide-logo-fire.png");
            background-position: 45% center; }
          .header-slider ul#slides .slide .slide1 .slide-logo-right:after {
            background-image: url("media/slide-logo-house.png"); }
        .header-slider ul#slides .slide .slide1 > h1 {
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          margin: 44px 23px 0; }
        .header-slider ul#slides .slide .slide1 p {
          margin: 14px auto 32px;
          font-size: 18px;
          text-align: center;
          width: 350px; }
        .header-slider ul#slides .slide .slide1-wrap {
          width: 440px;
          margin: 0 20px 34px; }
          .header-slider ul#slides .slide .slide1-wrap .timer-text {
            width: 144px;
            height: 31px;
            font-size: 14px;
            background-image: url("media/timer-text.png");
            padding: 8px 22px; }
        .header-slider ul#slides .slide .slide1 .slide1-button {
          width: 322px;
          height: 54px;
          background-color: #f39c12;
          text-transform: uppercase;
          color: #fff;
          font-size: 17px;
          border-radius: 5px; }
          .header-slider ul#slides .slide .slide1 .slide1-button:hover {
            cursor: pointer;
            background-color: #e67e22; }
      .header-slider ul#slides .slide-clock-block {
        font-size: 30px;
        color: #fff;
        border: 2px solid #fff;
        position: relative;
        padding: 3px; }
        .header-slider ul#slides .slide-clock-block:not(last-child) {
          margin-left: 17px; }
      .header-slider ul#slides .slide > h3 {
        text-align: center;
        font-size: 30px; }
      .header-slider ul#slides .slide-2 {
        width: 100%;
        margin-top: 70px; }
    .header-slider ul#slides .slide:nth-of-type(1) {
      background-color: #3ea5ce; }
    .header-slider ul#slides .slide:nth-of-type(2) {
      background-color: #ff1213; }
    .header-slider ul#slides .slide:nth-of-type(3) {
      background-color: #f7df1e; }
    .header-slider ul#slides .slide:nth-of-type(4) {
      background-color: #b33020; }
    .header-slider ul#slides .showing {
      opacity: 1;
      z-index: 2; }

#sales-event {
  position: relative; }
  #sales-event .controls {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    width: 80px;
    border: 2px solid #fff;
    font-size: 32px;
    color: #fff;
    padding: 24px 0; }
    #sales-event .controls:hover {
      cursor: pointer;
      border-color: #0083b5;
      color: #0083b5; }
  #sales-event .previous {
    top: 284px;
    left: -128px; }
  #sales-event .next {
    top: 284px;
    right: -128px; }

.price > .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px; }
  .price > .center > h2 {
    width: 100%;
    color: #2e2e2e;
    font-size: 30px;
    padding: 44px 0 42px;
    text-align: center; }

.price-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 762px; }

.price-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px; }
  .price-window > h3 {
    text-transform: uppercase;
    color: #0083b5;
    font-size: 18px;
    text-align: center;
    line-height: 20px; }
  .price-window-img {
    height: 138px;
    width: 220px;
    background-repeat: no-repeat;
    background-position: center; }
    .price-window-img-1 {
      background-image: url("media/window1.png"); }
    .price-window-img-2 {
      background-image: url("media/window2.png"); }
    .price-window-img-3 {
      background-image: url("media/window3.png"); }
    .price-window-img-4 {
      background-image: url("media/window4.png"); }
    .price-window-img-5 {
      background-image: url("media/window5.png"); }
    .price-window-img-6 {
      background-image: url("media/window6.png"); }
    .price-window-img-s2 {
      height: 196px; }
    .price-window-img-s1.price-window-img-3 {
      width: 241px; }
    .price-window-img-s2.price-window-img-6 {
      width: 262px; }
  .price-window-money {
    width: 160px;
    background-color: white;
    text-align: center;
    border: 2px dashed #f39c12;
    color: #2a2a2a;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 13px 0 25px; }

.price p.text {
  font-size: 18px;
  padding: 9px 0;
  text-align: center; }

.price p.text-phone {
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size: 24px;
  padding: 24px 0 24px; }

.price h3 {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 20px;
  margin-bottom: 9px; }

.price-form {
  width: 660px;
  padding: 12px 0 0; }
  .price-form .form-wrap {
    padding-bottom: 14px;
    justify-content: space-between; }
    .price-form .form-wrap label {
      position: relative; }
      .price-form .form-wrap label:after {
        display: block;
        position: absolute;
        top: -18px;
        background-repeat: no-repeat;
        left: 280px;
        content: '';
        width: 36px;
        height: 36px;
        background-position: center;
        z-index: 3; }
      .price-form .form-wrap label[for="input-name"]:after, .price-form .form-wrap label[for="input-name-f"]:after, .price-form .form-wrap label[for="input-name-f1"]:after, .price-form .form-wrap label[for="input-name-foo"]:after, .price-form .form-wrap label[for="input-name-foo1"]:after {
        background-image: url("media/form-after-man.png"); }
      .price-form .form-wrap label[for="input-phone"]:after, .price-form .form-wrap label[for="input-phone-f"]:after, .price-form .form-wrap label[for="input-phone-f1"]:after, .price-form .form-wrap label[for="input-phone-foo"]:after, .price-form .form-wrap label[for="input-phone-foo1"]:after {
        background-image: url("media/form-after-phone.png"); }
    .price-form .form-wrap .input-label {
      width: 280px;
      height: 14px;
      padding: 20px;
      border-radius: 5px;
      border: 1px solid silver;
      z-index: 2; }
  .price-form .form-btn {
    margin: 0 168px 17px;
    width: 322px;
    height: 54px;
    font-size: 17px;
    padding: 0 40px;
    background-color: #f39c12;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase; }
    .price-form .form-btn:hover {
      background-color: #e67e22;
      cursor: pointer; }

.security {
  width: 282px;
  height: 25px;
  background-image: url("media/security-blue.png");
  margin: 0 auto 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 3; }
  .security-title {
    width: 220px;
    height: 64px;
    position: absolute;
    display: none;
    text-align: center;
    font-size: 12px;
    top: 7px;
    left: 22px;
    background-image: url("media/sky-text.png");
    background-size: cover;
    padding: 15px 5px 0;
    z-index: 4; }
  .security:hover .security-title {
    display: block; }

textarea {
  width: 612px;
  height: 48px;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0 4px 27px; }

.promo {
  background-image: url("media/promo-bg.png"); }
  .promo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 0 27px;
    color: #fff; }
  .promo h3 {
    font-size: 30px;
    padding-bottom: 10px; }
  .promo-text {
    width: 504px;
    text-align: center; }
    .promo-text > h4 {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px; }

.guarantee > .center > h2 {
  font-size: 30px;
  text-align: center;
  padding: 36px 0 25px; }

.guarantee > .center > .flex {
  width: 961px; }

.guarantee-year {
  width: 175px;
  height: 152px;
  margin-bottom: 15px; }

.guarantee-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px; }
  .guarantee-flex-1 {
    background-image: url("media/40years.png"); }
  .guarantee-flex-2 {
    background-image: url("media/2years.png"); }
  .guarantee-flex-3 {
    background-image: url("media/60years.png"); }
  .guarantee-flex > h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    width: 265px; }
    .guarantee-flex > h3.title-1 {
      width: 300px; }

.guarantee-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 42px; }

.guarantee-photo {
  width: 265px;
  height: 287px;
  background-image: url("media/guarantee-photo.png");
  margin-left: 35px; }

.guarantee-text {
  width: 655px; }
  .guarantee-text > h3 {
    font-size: 26px;
    color: #2283aa; }
  .guarantee-text > ol {
    padding-top: 12px;
    list-style-type: none;
    counter-reset: item; }
    .guarantee-text > ol > li {
      font-size: 15px;
      line-height: 19px;
      padding-top: 3px; }
      .guarantee-text > ol > li:before {
        content: counter(item) ") ";
        counter-increment: item; }

.certificates {
  padding-bottom: 58px;
  background-image: url("media/certificates-bg.png"); }
  .certificates .center > h3 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 43px 0 28px; }
  .certificates-flex {
    width: 221px;
    height: 268px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer; }
    .certificates-flex:hover {
      transform: scale(1.1); }
  .certificates-1 {
    background-image: url("media/sertificate1.png"); }
  .certificates-2 {
    background-image: url("media/sertificate2.png"); }
  .certificates-3 {
    background-image: url("media/sertificate3.png"); }
  .certificates-4 {
    background-image: url("media/sertificate4.png"); }
  .certificates-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 47px;
    height: 47px;
    background-image: url("media/magnifier.png");
    opacity: 0.8; }

.our-skills-flex {
  padding-bottom: 28px; }
  .our-skills-flex > h3 {
    padding: 40px 0 0;
    font-size: 30px; }

.our-skills .our-skills-img {
  margin: 25px 0 16px;
  width: 150px;
  height: 150px;
  border: 6px solid silver;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all .3s;
  background-position: center center; }

.our-skills .our-skills-img:hover {
  border: none;
  cursor: pointer; }

.our-skills-1 {
  width: 100%; }
  .our-skills-1 .our-skills-1-img {
    background-image: url("media/skills1.png"); }
  .our-skills-1 .our-skills-2-img {
    background-image: url("media/skills2.png"); }
  .our-skills-1 .our-skills-3-img {
    background-image: url("media/skills3.png"); }
  .our-skills-1 .our-skills-4-img {
    background-image: url("media/skills4.png"); }

.our-skills-2 {
  width: 760px;
  padding: 5px 0 0; }
  .our-skills-2 .our-skills-1-img {
    background-image: url("media/skills5.png"); }
  .our-skills-2 .our-skills-2-img {
    background-image: url("media/skills6.png"); }
  .our-skills-2 .our-skills-3-img {
    background-image: url("media/skills7.png"); }

.our-skills-3 {
  padding: 5px 0 0; }
  .our-skills-3 .our-skills-1-img {
    background-image: url("media/skills8.png"); }
  .our-skills-3 .our-skills-2-img {
    background-image: url("media/skills9.png"); }

.our-skills .flex > .flex-col > h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 213px;
  line-height: 19px; }

.form-block {
  background-image: url("media/form-bg.png");
  color: #ffffff;
  text-align: center; }
  .form-block > .center > h3 {
    font-size: 30px;
    padding-top: 40px; }
  .form-block > .center > p {
    font-size: 21px;
    padding: 20px 0 0;
    font-weight: bold; }

.security-title-form {
  color: #000; }

.form-block-form {
  padding-top: 40px; }
  .form-block-form .form-btn-form {
    width: 359px;
    padding: 0 10px; }

.form-block-security {
  background-image: url("media/security.png");
  padding-bottom: 30px; }

.comments > .center > h3 {
  font-size: 30px;
  text-align: center;
  padding: 50px 0 0; }

.comments-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 33px; }

.comments-block {
  width: 480px; }
  .comments-block .comments-block-top {
    align-items: flex-start;
    padding-top: 36px; }
  .comments-block-title-img {
    width: 248px;
    height: 55px;
    background-image: url("media/comm-logo.png");
    margin-left: 14px; }
  .comments-block-title .comments-block-man {
    margin-left: 40px; }
    .comments-block-title .comments-block-man > h4 {
      color: #3ea5ce;
      font-size: 15px;
      font-weight: bold; }
    .comments-block-title .comments-block-man > span {
      color: #f39c12;
      font-size: 14px;
      line-height: 20px; }
  .comments-block > p {
    padding-top: 22px;
    font-size: 15px;
    font-style: italic;
    line-height: 20px; }

.learn-true {
  background-image: url("media/learn-true-bg.png");
  background-size: cover; }
  .learn-true > .center {
    color: #ffffff; }
    .learn-true > .center > h3 {
      padding-top: 37px;
      font-size: 30px;
      text-align: center;
      line-height: 32px; }
    .learn-true > .center > p {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      padding-bottom: 23px; }
  .learn-true .learn-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
    .learn-true .learn-flex-wrap {
      display: flex;
      justify-content: space-between;
      width: 657px;
      margin: 0 auto; }
    .learn-true .learn-flex-block {
      width: 310px;
      padding: 0 0 59px; }
      .learn-true .learn-flex-block .learn-logo {
        height: 64px;
        margin-bottom: 22px;
        background-image: url("media/learn-logo.png"); }
      .learn-true .learn-flex-block > h4 {
        text-transform: uppercase;
        font-size: 15px; }
      .learn-true .learn-flex-block > p {
        font-size: 14px;
        padding-top: 4px;
        line-height: 17px; }

.form-second {
  padding: 40px 0 34px; }
  .form-second-wrap {
    background-color: white;
    width: 100%;
    border: 4px silver solid; }
    .form-second-wrap > h3 {
      text-align: center;
      font-size: 30px;
      line-height: 32px;
      padding-top: 20px; }
    .form-second-wrap > p {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
      color: #2283aa;
      padding-bottom: 14px; }

.price-form .form-btn-second {
  margin: 0 168px 10px; }

.security-second {
  margin-bottom: 14px; }

.our-links {
  background: #e8e8e8; }
  .our-links > .center > h3 {
    font-size: 30px;
    text-align: center;
    padding: 45px 0 22px; }
  .our-links-flex {
    width: 100%;
    padding-bottom: 48px; }
  .our-links-list > li > a {
    color: #3ea5ce;
    text-decoration: none;
    border-bottom: 1px dashed #3ea5ce;
    font-size: 22px;
    line-height: 32px;
    transition: .3s; }
    .our-links-list > li > a:hover {
      color: #f39c12;
      border-color: #f39c12; }
  .our-links-arrow {
    height: 95px;
    width: 11px;
    background-image: url("media/arrow-link.png"); }
  .our-links-text {
    width: 466px;
    display: none; }
    .our-links-text-visible {
      display: block; }

.we-are-best {
  background-image: url("media/we-are-best-bg.png");
  background-color: #e8e8e8;
  color: #ffffff;
  text-align: center;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .we-are-best > .center > h3 {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding: 46px 0 30px;
    line-height: 32px; }
  .we-are-best .we-are-flex-col {
    width: 298px;
    padding-bottom: 36px; }
    .we-are-best .we-are-flex-col .we-are-best-circle {
      width: 147px;
      height: 147px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 6px solid rgba(0, 0, 0, 0.17);
      box-sizing: content-box;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center; }
      .we-are-best .we-are-flex-col .we-are-best-circle:hover {
        cursor: pointer; }
        .we-are-best .we-are-flex-col .we-are-best-circle:hover:after {
          border-color: #ff696e; }
      .we-are-best .we-are-flex-col .we-are-best-circle:active {
        background-position: 52% 52%; }
        .we-are-best .we-are-flex-col .we-are-best-circle:active:after {
          border-color: #1f8b1d; }
      .we-are-best .we-are-flex-col .we-are-best-circle-img1 {
        background-image: url("media/we-after11.png");
        background-position: 44% center; }
        .we-are-best .we-are-flex-col .we-are-best-circle-img1:active {
          background-position: 46% 52%; }
      .we-are-best .we-are-flex-col .we-are-best-circle-img2 {
        background-image: url("media/we-after2.png"); }
      .we-are-best .we-are-flex-col .we-are-best-circle-img3 {
        background-image: url("media/we-after3.png"); }
      .we-are-best .we-are-flex-col .we-are-best-circle:after {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 117px;
        height: 117px;
        border-radius: 50%;
        border: 5px solid #f39c12;
        content: '';
        z-index: 4; }
    .we-are-best .we-are-flex-col > h4 {
      text-transform: uppercase;
      font-size: 15px;
      padding-top: 20px;
      line-height: 19px; }
    .we-are-best .we-are-flex-col > p {
      font-size: 14px;
      line-height: 17px; }

.form-third {
  padding: 32px 0 58px; }
  .form-third .form-wrap {
    width: 100%; }
  .form-third input[type='text'].input-label {
    width: 265px; }

.select-label {
  width: 280px;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid silver;
  text-align: center;
  margin-bottom: 16px; }

.footer {
  background-color: #4f4f4f;
  padding-bottom: 24px; }
  .footer > .flex {
    justify-content: space-between; }
  .footer .logo-text > h1 {
    color: #fff; }
  .footer-contact-phone > a.phone-me {
    color: #fff; }
  .footer-contact-phone.header-contact-phone > p {
    color: #fff; }
  .footer-bottom {
    text-align: center; }
    .footer-bottom > p {
      padding: 13px 0 10px;
      color: #ffffff;
      font-size: 14px;
      opacity: .5; }
    .footer-bottom > a {
      color: #0083b5;
      font-size: 14px;
      text-decoration: underline; }

.modal-window {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-certificate {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-certificate-img {
  margin: 200px auto 0;
  width: 200px;
  height: 300px;
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 6;
  transform: scale(1.5); }

body {
  background-image: url("media/bg-fonts.png");
  font-family: OpenSans, Arial, sans-serif;
  background-blend-mode: multiply;
  background-color: rgba(255, 135, 12, 0.02); }

.center {
  width: 1000px;
  margin: 0 auto; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column; }
