.comments {
  & > .center {
    & > h3 {
      font-size: 30px;
      text-align: center;
      padding: 50px 0 0;
    }
  }
  &-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 33px;
  }
  &-block {
    width: 480px;
    .comments-block-top {
      align-items: flex-start;
      padding-top: 36px;
    }
    &-title {
      &-img {
        width: 248px;
        height: 55px;
        background-image: url("media/comm-logo.png");
        margin-left: 14px;
      }
      .comments-block-man {
        margin-left: 40px;
        & >h4 {
          color: #3ea5ce;
          font-size: 15px;
          font-weight: bold;
        }
        &  >span {
          color: #f39c12;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    & > p {
      padding-top: 22px;
      font-size: 15px;
      font-style: italic;
      line-height: 20px;
    }
  }
}