.form-block {
  background-image: url("media/form-bg.png");
  color: #ffffff;
  text-align: center;
  & > .center {
    &> h3 {
      font-size: 30px;
      padding-top: 40px;
    }
    &>p {
      font-size: 21px;
      padding: 20px 0 0;
      font-weight: bold;
    }
  }
}
.security-title-form {
  color: #000;
}
.form-block-form {
  padding-top: 40px;
  .form-btn-form {
    width: 359px;
    padding: 0 10px;
  }
}
.form-block-security {
  background-image: url("media/security.png");
  padding-bottom: 30px;
}