.learn-true {
  background-image: url("media/learn-true-bg.png");
  background-size: cover;

  & > .center {
    color: #ffffff;
    & > h3 {
      padding-top: 37px;
      font-size: 30px;
      text-align: center;
      line-height: 32px;
    }
    & > p {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      padding-bottom: 23px;
    }
  }
.learn-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  &-wrap  {
    display: flex;
    justify-content: space-between;
    width: 657px;
    margin: 0 auto;
  }
  &-block {
    width: 310px;
    padding: 0 0 59px;
    .learn-logo {
      height: 64px;
      margin-bottom: 22px;
      background-image: url("media/learn-logo.png");
    }
    & >h4 {
      text-transform: uppercase;
      font-size: 15px;
    }
    & >p {
      font-size: 14px;
      padding-top: 4px;
      line-height: 17px;
    }
  }
}
}