.our-skills {
  &-flex {
    padding-bottom: 28px;
    & > h3 {
      padding: 40px 0 0;
      font-size: 30px;
    }
  }
  .our-skills-img {
    margin: 25px 0 16px;
    width: 150px;
    height: 150px;
    border: 6px solid silver;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all .3s;
    background-position: center center;
  }
  .our-skills-img:hover {
    border: none;
    cursor: pointer;
  }
  &-1 {
    width: 100%;
    .our-skills-1-img {
      background-image: url("media/skills1.png");
    }
    .our-skills-2-img {
      background-image: url("media/skills2.png");
    }
    .our-skills-3-img {
      background-image: url("media/skills3.png");
    }
    .our-skills-4-img {
      background-image: url("media/skills4.png");
    }
  }
  &-2 {
    width: 760px;
    padding: 5px 0 0;
    .our-skills-1-img {
      background-image: url("media/skills5.png");
    }
    .our-skills-2-img {
      background-image: url("media/skills6.png");
    }
    .our-skills-3-img {
      background-image: url("media/skills7.png");
    }
  }
  &-3 {
    padding: 5px 0 0;
    .our-skills-1-img {
      background-image: url("media/skills8.png");
    }
    .our-skills-2-img {
      background-image: url("media/skills9.png");
    }
  }

  .flex > .flex-col > h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 213px;
    line-height: 19px;
  }
}