.our-links {
  background: #e8e8e8;
  & > .center {
    & > h3 {
      font-size: 30px;
      text-align: center;
      padding: 45px 0 22px;
    }
  }
  &-flex {
    width: 100%;
    padding-bottom: 48px;
  }
  &-list > li > a {
    color: #3ea5ce;
    text-decoration: none;
    border-bottom: 1px dashed #3ea5ce;
    font-size: 22px;
    line-height: 32px;
    transition: .3s;
    &:hover {
      color: #f39c12;
      border-color: #f39c12;
    }
  }
  &-arrow {
    height: 95px;
    width: 11px;
    background-image: url("media/arrow-link.png");
  }
  &-text {
    width: 466px;
    display: none;
    &-visible {
      display: block;
    }
  }
}