.price {
  & > .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;

    & > h2 {
      width: 940px;
      color: #2e2e2e;
      font-size: 30px;
      padding: 46px 0 42px;
      text-align: center;
    }
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 762px;
  }

  &-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;

    & > h3 {
      text-transform: uppercase;
      color: #0083b5;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
      line-height: 20px;
    }

    &-img {
      height: 138px;
      width: 220px;
      background-repeat: no-repeat;
      background-position: center;

      &-1 {
        background-image: url("media/window1.png")
      }

      &-2 {
        background-image: url("media/window2.png")
      }

      &-3 {
        background-image: url("media/window3.png")
      }

      &-4 {
        background-image: url("media/window4.png")
      }

      &-5 {
        background-image: url("media/window5.png")
      }

      &-6 {
        background-image: url("media/window6.png")
      }

      &-s2 {
        height: 196px;
      }

      &-s1.price-window-img-3 {
        width: 241px;
      }

      &-s2.price-window-img-6 {
        width: 262px;
      }
    }

    &-money {
      width: 160px;
      background-color: white;
      text-align: center;
      border: 2px dashed #f39c12;
      color: #2a2a2a;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 30px;
      margin: 13px 0 25px;
    }
  }

  p.text {
    font-size: 18px;
    padding-bottom: 14px;
    text-align: center;
  }

  p.text-phone {
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 24px;
    padding-bottom: 24px;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 20px;
    margin-bottom: 24px;
  }
  &-form {
    width: 660px;
    .form-wrap {
      padding-bottom: 14px;
      justify-content: space-between;
      label {
        position: relative;
        &:after {
          display: block;
          position: absolute;
          top: -18px;
          background-repeat: no-repeat;
          left: 280px;
          content: '';
          width: 36px;
          height: 36px;
          background-position: center;
          z-index: 3;
        }
        &[for="input-name"]:after, &[for="input-name-f"]:after {
           background-image: url("media/form-after-man.png");
         }
        &[for="input-phone"]:after, &[for="input-phone-f"]:after {
          background-image: url("media/form-after-phone.png");
        }
      }
      .input-label {
        width: 280px;
        height: 14px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid silver;
        z-index: 2;
      }
    }
    .form-btn {
      margin: 0 168px 17px;
      width: 322px;
      height: 54px;
      font-size: 17px;
      padding: 0 40px;
      background-color: #f39c12;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        background-color: #e67e22;
        cursor: pointer;
      }
    }
  }
}
.security {
  width: 282px;
  height: 25px;
  background-image: url("media/security-blue.png");
  margin: 0 auto 43px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 3;
  &-title {
    width: 220px;
    height: 64px;
    position: absolute;
    display: none;
    text-align: center;
    font-size: 12px;
    top: 7px;
    left: 22px;
    background-image: url("media/sky-text.png");
    background-size: cover;
    padding: 15px 5px 0;
    z-index: 4;
  }
  &:hover .security-title {
    display: block;
  }
}
textarea {
  width: 612px;
  height: 48px;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0 4px 27px;
}