.we-are-best {
  background-image: url("media/we-are-best-bg.png");
  background-color: #e8e8e8;
  color: #ffffff;
  text-align: center;

  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & > .center {
    & > h3 {
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      padding: 46px 0 30px;
      line-height: 32px;
    }
  }
  .we-are-flex-col {
    width: 298px;
    padding-bottom: 36px;
    .we-are-best-circle {
      width: 147px;
      height: 147px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 6px solid rgba(0, 0, 0, 0.17);
      box-sizing: content-box;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      &:hover {
        cursor: pointer;
        &:after {
          border-color: #ff696e;
        }
      }
      &:active {
        background-position: 52% 52%;
        &:after {
          border-color: #1f8b1d;
        }
      }
      &-img1 {
        background-image: url("media/we-after11.png");
        background-position: 44% center;
        &:active{background-position: 46% 52%;}
      }
      &-img2 {background-image: url("media/we-after2.png");}
      &-img3 {background-image: url("media/we-after3.png");}
      &:after {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 117px;
        height: 117px;
        border-radius: 50%;
        border: 5px solid #f39c12;
        content: '';
        z-index: 4;
      }

    }
    & >h4 {
      text-transform: uppercase;
      font-size: 15px;
      padding-top: 20px;
      line-height: 19px;
    }
    &>p {
      font-size: 14px;
      line-height: 17px;
    }
  }
}