@import "fonts";
@import "header";
@import "header-slider";

body {
  background-image: url("media/bg-fonts.png");
}
.center {
  width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}