@import "fonts";
@import "header";
@import "header-slider";
@import "price";

body {
  background-image: url("media/bg-fonts.png");
  font-family: OpenSans, Arial, sans-serif;
  background-blend-mode: multiply;
  background-color: rgba(255, 135, 12, 0.02);
}
.center {
  width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}